.selectedPokemon {
    position: fixed;
    top: 50%;
    right: 10%;

    transform: translate(0, -50%);

    min-width: 170px;

    max-height: 400px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.selectedPokemon-image {
    margin: 4px;
    border: 1px solid black;
}

.stats-list {
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.stats-item {
    list-style: none;
}