a {
    text-decoration: none;
}

.list {
    margin: 4px;
    margin-left: 16px;
    margin-bottom: 16px;

    min-height: 372px;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    .list {
        margin-left: 4px;
    }
}

